h2 Clinic
  table
    thead
      tr
        th #
        th Name
        th(width='150') Created
        th(width='150') Options
    tbody
      tr
        td 1
        td This is longer content Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here
      tr
        td 1
        td
          | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here
      tr
        td 1
        td
          | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
        td Content Goes Here
        td Content Goes Here